fastapi==0.115.12
pymupdf==1.25.5
chromadb==0.6.3
gradio==5.23.3
python-multipart==0.0.20
pydantic==2.11.1
pydantic-settings==2.8.1
python-dotenv==1.0.1
sentence-transformers==4.1.0
langchain==0.3.21
langchain-community==0.3.20
langgraph==0.3.21
langchain-ollama==0.3.1